<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-mixed-theme " color-on-scroll="300">
  <div class="container-fluid">
    <div class="navbar-translate">
      <a class="navbar-brand" href="" rel="tooltip" title="Coded by Creative Tim" data-placement="bottom" target="_blank">
         Event Logo
      </a>
      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse justify-content-center" style="justify-content:flex-end!important" id="navigation">
      <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="../Index.html">Pagina Principal</a></li>
          <li class="nav-item"><a class="nav-link" href="../Index.html#hp-about-us">Sobre</a></li>
          <li class="nav-item"><a class="nav-link" href="../Index.html#hp-speakers">Oradores</a></li>
          <li class="nav-item"><a class="nav-link" href="../Index.html#hp-info">Informações</a></li>
          <li class="nav-item"><a class="nav-link" href="../Index.html#hp-contact">Contacta-nos</a></li>
      </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="../Login/index.php" class="nav-link"><i class="fa fa-user"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->