  <!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-mixed-theme " color-on-scroll="300">
  <div class="container-fluid">
    <div class="navbar-translate">
      <a class="navbar-brand" href="" rel="tooltip" title="Coded by Creative Tim" data-placement="bottom" target="_blank">
         Event Logo
      </a>
      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse justify-content-center" style="justify-content:flex-end!important" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="../Users/home-user-page.html">Página Principal</a></li>
        <li class="nav-item"><a class="nav-link" href="../Users/dates-user-page.html">Datas</a></li>
        <li class="nav-item"><a class="nav-link" href="../Users/works-user-page.html">Trabalhos</a></li>
        <li class="nav-item"><a class="nav-link" href="../Users/speakers-user-page.html">Oradores</a></li>
        <li class="nav-item"><a class="nav-link" href="#reviews">Avaliações</a></li>
      </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: #ffffff; " data-toggle="dropdown" href="#pk" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" style="margin-right: 5px;" aria-hidden="true"></i>USER</a>  <!-- TODO USER NAME -->
        <ul class="dropdown-menu dropdown-menu-right dropdown-default">
          <!--<li class="dropdown-header" href="#pk">Perfil</li>-->
          <a class="dropdown-item" href="../Users/profile-user-page.html"> <i class="fa fa-user-circle-o" style="margin-right: 8px;" aria-hidden="true"></i>Perfil</a>
          <a class="dropdown-item" href="#pk"> <i class="fa fa-cogs" style="margin-right: 8px;" aria-hidden="true"></i>Admin Dashboard</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../Index.html"> <i class="fa fa-sign-out" style="margin-right: 8px;" aria-hidden="true"></i>Sair</a>
        </ul>
      </div>
    </div>


  </div>
</nav>
<!-- End Navbar -->