.page-item.active .page-link{
    color:#fff;
    background-color: #fbc658 !important;
    border-color: burlywood !important;
}

.page-item.disabled .page-link{
    background-color: #2c2c2c !important;
    border-color: #2c2c2c !important;
}

.page-link{
  background-color: #2c2c2c !important;
  border-color: #2c2c2c !important;
  color:#fff;
}

.page-link:hover{
  border-color: #161616 !important;
  color: #6d6d6d !important;
}



table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    background-color: #2c2c2c !important;
}

/*
.a .page-link {
  color:#fbc658 !important;
}
*/
/*
.card {
    height: auto;
}
/*

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }